<h1 class='text-center my-5'>Regístrate </h1>

<div class='row justify-content-center'>
  <div class='col-md-6'>
    <form action='/auth/register' method='POST'>
      <input type='hidden' name='_csrf' value='{{csrfToken}}' />
      <input
        type='text'
        name='userName'
        class='form-control mb-2'
        placeholder='Ingresa tu nombre'
        value='dvdev'
      />
      <input
        type='text'
        name='email'
        class='form-control mb-2'
        placeholder='Ingresa tu email'
        value='dvdev@test.com'
      />
      <input
        type='password'
        name='password'
        class='form-control mb-2'
        placeholder='Ingresa tu contraseña'
        value='123123'
      />
      <input
        type='password'
        name='repassword'
        class='form-control mb-2'
        placeholder='Repite tu contraseña'
        value='123123'
      />
      <button class='btn btn-primary mt-2 w-100 rounded' type='submit'>crear
        usuario</button>
    </form>
  </div>
</div>